./~/
matlab_scripts/eeglab*
matlab_scripts/inexact*
matlab_scripts/VisLab-EEG-Clean-Tools*
matlab_scripts/EEG-Clean-Tools-master*
matlab_scripts/__MACOSX/
matlab_scripts/asr*
matlab_scripts/artifact_subspace_reconstruction*
matlab_scripts/MARA-master/
state.mat
*_state.mat
*.m~
.DS_Store
.dropbox
__MAXOSX
Icon*
gui/Automagic.prj
gui/Automagic.mlappinstall
